In [19]:
import pandas as pd
import matplotlib.pyplot as plt
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
auth_series = pd.Series(author)
print(auth_series)

0    Jitender
1     Purnima
2       Arpit
3       Jyoti
dtype: object

In [20]:
import pandas as pd
import matplotlib.pyplot as plt
author = ['Jitender', 'Purnima', 'Arpit', 'Jyoti']
article = [210, 211, 114, 178]
auth_series = pd.Series(author) 
article_series = pd.Series(article)
frame = { 'Author': auth_series, 'Article': article_series }
result = pd.DataFrame(frame) 
age = [21, 21, 24, 23]
result['Age'] = pd.Series(age)
print(result)

     Author  Article  Age
0  Jitender      210   21
1   Purnima      211   21
2     Arpit      114   24
3     Jyoti      178   23

In [21]:
import pandas as pd
df = pd.read_csv ('winequality-red.csv')
print(df)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
1591            6.2             0.600         0.08             2.0      0.090
1592            5.9             0.550         0.10             2.2      0.062
1593            6.3             0.510         0.13             2.3      0.076
1594            5.9             0.645         0.12             2.0      0.075
1595            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
1591                 32.0                  44.0  0.99490  3.45       0.58
1592                 39.0                  51.0  0.99512  3.52       0.76
1593                 29.0                  40.0  0.99574  3.42       0.75
1594                 32.0                  44.0  0.99547  3.57       0.71
1595                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
1591     10.5        5
1592     11.2        6
1593     11.0        6
1594     10.2        5
1595     11.0        6

[1596 rows x 12 columns]

In [22]:
result = df.head(10)
print("First 10 rows of the DataFrame:") 
print(result)

First 10 rows of the DataFrame:
   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076
5            7.4              0.66         0.00             1.8      0.075
6            7.9              0.60         0.06             1.6      0.069
7            7.3              0.65         0.00             1.2      0.065
8            7.8              0.58         0.02             2.0      0.073
9            7.5              0.50         0.36             6.1      0.071

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56
5                 13.0                  40.0   0.9978  3.51       0.56
6                 15.0                  59.0   0.9964  3.30       0.46
7                 15.0                  21.0   0.9946  3.39       0.47
8                  9.0                  18.0   0.9968  3.36       0.57
9                 17.0                 102.0   0.9978  3.35       0.80

   alcohol  quality
0      9.4        5
1      9.8        5
2      9.8        5
3      9.8        6
4      9.4        5
5      9.4        5
6      9.4        5
7     10.0        7
8      9.5        7
9     10.5        5

In [23]:
df_last_10 = df.tail(10)
print("last 10 rows of the DataFrame:")
print(df_last_10)

last 10 rows of the DataFrame:
      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
1586            6.6             0.725         0.20             7.8      0.073
1587            6.3             0.550         0.15             1.8      0.077
1588            5.4             0.740         0.09             1.7      0.089
1589            6.3             0.510         0.13             2.3      0.076
1590            6.8             0.620         0.08             1.9      0.068
1591            6.2             0.600         0.08             2.0      0.090
1592            5.9             0.550         0.10             2.2      0.062
1593            6.3             0.510         0.13             2.3      0.076
1594            5.9             0.645         0.12             2.0      0.075
1595            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
1586                 29.0                  79.0  0.99770  3.29       0.54
1587                 26.0                  35.0  0.99314  3.32       0.82
1588                 16.0                  26.0  0.99402  3.67       0.56
1589                 29.0                  40.0  0.99574  3.42       0.75
1590                 28.0                  38.0  0.99651  3.42       0.82
1591                 32.0                  44.0  0.99490  3.45       0.58
1592                 39.0                  51.0  0.99512  3.52       0.76
1593                 29.0                  40.0  0.99574  3.42       0.75
1594                 32.0                  44.0  0.99547  3.57       0.71
1595                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
1586      9.2        5
1587     11.6        6
1588     11.6        6
1589     11.0        6
1590      9.5        6
1591     10.5        5
1592     11.2        6
1593     11.0        6
1594     10.2        5
1595     11.0        6

In [24]:
shape = df.shape 
print('\nDataFrame Shape :', shape)
print('\nNumber of rows :', shape[0])
print('\nNumber of columns :', shape[1])

DataFrame Shape : (1596, 12)

Number of rows : 1596

Number of columns : 12

In [25]:
df=pd.read_csv('Employee.csv')
df.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1